<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="top-bar">
        <div class="logo">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <a routerLink="/home" class="logo-link"> TamakZhik </a>
          </div>
          

        <div class="search-bar-container">
            <input type="text" class="search-bar" placeholder="Search...">
            <i class="fa fa-search search-icon" aria-hidden="true"></i>
        </div>
        <a href="#" class="login">Login | Sign up</a>
        <a href="#" class="favorites">Favorites</a>
        <i class="fa fa-bars" aria-hidden="true"></i>
        
    </div>
</body>
