body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin: 20px;
}

p {
    margin: 30px 40px 40px;
    
}

header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    width: auto;
    height: 180px;
    margin: 0 auto; 
}




header h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: rgb(0, 0, 0);
}


.recipes {
    background-color: #f9f9f9; 
    padding: 20px;
}

.recipes h2 {
    font-size: 24px;
    color: #333;
    text-align: center; 
    margin-bottom: 20px; 
}

.recipe-list {
    display: flex;
    justify-content: space-between; 
}

.recipe {
    width: calc(20% - 20px); 
    margin-bottom: 20px;
    text-align: center; 
    background-color: #fff; 
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.recipe:not(:last-child) {
    margin-right: 20px;
}

.recipe img {
    width: 80%; 
    height: 150px;
    border-radius: 5px;
}

.recipe p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

.categories {
    background-color: #f8f8f8;
    padding: 20px 0;
    overflow-x: auto;
}

.categories h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 10px; 
}

.category p {
    font-size: 18px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
    margin:0; 
    left: 0;

    width: 100%;
    height: 7px; 
    background-color: rgb(88, 58, 58); 

}