.recipes {
    padding: 20px;
}

.recipes h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.recipe {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recipe img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.details {
    flex: 1;
}

.details h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.details p {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
